<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container text-center">
    <h2 class="text-center">Sign Up</h2>
    <form action="/signup" method="POST" >
        <input type="text" class="form-control"  name="username" placeholder="Enter username">
        <% let usernameError = validationErrors.find(err => err.param === 'username')%>
        <% if(usernameError) {%>
            <p class="alert alert-danger">
            Your Error is
            <%= usernameError.msg %>
        </p> 
        <%}%>
        <input type="email" class="form-control"  name="email" placeholder="Enter email">
        <% let emailError = validationErrors.find(err => err.param === 'email')%>
        <% if(emailError) {%>
            <p class="alert alert-danger">
            Your Error is
            <%= emailError.msg %>
        </p> 
        <%}%>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <% let passwordError = validationErrors.find(err => err.param === 'password')%>
        <% if(passwordError) {%>
            <p class="alert alert-danger">
            Your Error is
            <%= passwordError.msg %>
        </p> 
        <%}%>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password"  >
        <% let passwordConfirmError = validationErrors.find(err => err.param === 'confirmPassword')%>
        <% if(passwordConfirmError) {%>
            <p class="alert alert-danger">
            Your Error is
            <%= passwordConfirmError.msg %>
        </p> 
        <%}%>
        <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
    <% if(authError){ %>
        <p class="alert alert-danger">
            Your Error is
            <%= authError %>
        </p>
    <%}%>
    
    
    
    <br>
    <div>
        Already Have Account ? <a href="/login">Login</a>
    </div>
</div>
<%- include('parts/footer') %>